\.DS_Store
\.classpath
\.project
\.settings
\.iml
\.ipr
\.iws
\.vscode
duel-mvc/target
duel-mvc-archetype/target
mvcapp/target
bootstrap
duel-mvc/src/main/java/org/duelengine/duel/mvc/CrossOriginResourceSharingFilter.java
